.intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
    padding: 51px 0;
}

body {
    font-size: 14px;
}

pre {
    font-size: 12px;
}

td.code {
    width: 100%;
    min-width: 100%;
}
