.intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
    padding: 51px 0;
}

body {
    font-size: 14px;
}

pre {
    font-size: 12px;
}

td.code {
    width: 100%;
    min-width: 100%;
}

h1 {
    font-size: 42px;
}

h1, h2, h3 {
    margin: 36px 0 10px 0;
}

p {
    margin: 20px 0 10px 0;
}

pre {
    padding: 10px 20px;
}

p.article-summary {
    font-size: 16px;
}

.post-preview>.post-meta {
    font-size: 12px;
}

.post-preview>a>.post-title {
    font-size: 20px;
}
