.intro-header .page-heading, .intro-header .post-heading, .intro-header .site-heading {
    padding: 51px 0;
}

body {
    font-size: 14px;
}

pre {
    font-size: 12px;
}

td.code {
    width: 100%;
    min-width: 100%;
}

h1 {
    font-size: 42px;
}

h1, h2, h3 {
    margin: 36px 0 10px 0;
}

p {
    margin: 20px 0 10px 0;
}

pre {
    padding: 10px 20px;
}

p.article-summary {
    font-size: 16px;
}

.post-preview>.post-meta {
    font-size: 12px;
}

.post-preview>a>.post-title {
    font-size: 20px;
}

table.highlighttable {
    min-width: 720px;
    min-width: auto;
}

/* -----------------------------------------------------------------------------
 * Code block line numbering:
 * https://blog.kdheepak.com/how-to-add-line-numbers-for-code-blocks-in-pelican
 */

code {
  overflow: auto;
  /* This uses `white-space: pre-wrap` to get elements within <pre> tags to wrap.
    Python, for code chunks within three backticks (```), doesn't wordwrap code lines by default,
    because they're within <pre> tags, which don't wrap by default.
    See https://github.com/github/markup/issues/168,
    which is specifically about this parsing issue,
    even though that link's discussion is talking about GitHub. */
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* Following https://bililite.com/blog/2012/08/05/line-numbering-in-pre-elements/,
use CSS to add line numbers to all spans that have the class 'code-line' */

.highlight pre {
  counter-reset: linecounter;
  padding-left: 2em;
}
.highlight pre span.code-line {
  counter-increment: linecounter;
  padding-left: 1em;
  text-indent: -1em;
  display: inline-block;
  white-space: nowrap;
}

.highlight pre span.code-line:before {
  content: counter(linecounter);
  padding-right: 0.5em;
  margin-right: 1.2em;
  display: inline-block;
  color: #666;
  text-align: right;
  min-width: 2em;
  /*border-right: 1px dotted #444;*/
  font-size: 95%;
}

/* -------------------------------------------------------------------------- */
